*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.content{
    background: #fff;
    max-width: 1020px;
    margin: 0 auto;
}
#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
}

/*HEDER*/
header{
    background: #fff;
    height: 95px;
    position: relative;
    width: 100%;
    z-index: 50;

}
#logo{
    float: left;
    display: inline-block;
    height: 47px;
    margin: 26px 0 0 40px;
}
header >nav{
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}
header>nav>a{
    display: inline-block;
    padding: 13px 10px 14px 12px;
    font-size: 0.85em;

    color: #000;
    text-transform: uppercase;
}
#menu img{
    width: 100px;
 }
#menu{
    float: right;
    display: none;
}
header>nav>a:hover{
    background: #1bbc9b;
    color: #fff;

}
/*SECTION*/
section{
    width: 100%;
    height: 455px;
    background: url("../img/bg.jpg") center no-repeat ;
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;
    font-weight: 300;

}
section h1{
    padding-top:80px;
    padding-bottom: 40px;
    font-size: 3.44em;

}
section p{

    font-size: 1.125em;
}
section .but{
    margin-top: 40px;
    font-weight: bold;

}
/*main*/

main{
    text-align: center;

    position: relative;
    width: 100%;
    background: #fff;
}
main h1{
    font-size: 1.75em;
    padding-top: 50px;
    margin-bottom: 20px;
}
main p{
    font-size: 1em;

}

main ul.category{
    margin-top: 40px;
    font-weight: bold;
}

main ul.category li{
    display: inline-block;
}
main ul.category li a{
    padding: 14px 12px;
    background: #1bbc9b;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.81em;
    font-weight: bold;
    cursor: pointer;
}
main ul.category li a.active{
    background: #16a086;
}
main ul.item{
    margin-top: 45px;
}
main ul.item li{
    display: inline-block;
    margin: 0 5px 30px 5px;
    position:relative;
}
main ul.item li a{
    display: none;
    position:absolute;
    color: #fff;
    left:0;
    bottom:0;
    right:0;
    top:0;
    padding-top: 30%;
    background:rgba(80,179,146, 0.7);
}

main ul.item li:hover a{
    display: block;

}
main ul.item li:hover a, main ul.item li:hover{

}
/*FOOTER*/
footer{
    height: 86px;
    background: #2d3e50;
    color: #fff;
    font-size: 0.85em;
    position: relative;
}
footer p{
    position: absolute;
    left: 40px;
    top: 45%;
    float: left;

}
footer a{
    float: right;
    position: absolute;
    top:23px;
    right: 40px;
}
/*ABOUT*/
#about{
    width: 100%;
    background: #ecf0f1;
    color: #000;
    height: 100%;
}
#about h1{
    font-size: 1.75em;
    padding-top: 52px;
    padding-bottom: 18px;

}
#about p{
    font-size: 1em;

}
#form{
    display: block;
    padding-top: 50px;


}
form{
    display: inline-block;
    width: 45%;
    margin-left: 40px;
    padding-bottom: 20px;
}
.wit{
    border: none;
    box-sizing: border-box;
}
input{
    width: 48%;
    height: 45px;
    margin-right: 2%;
    border: 2px solid #bec3c7;
    padding-left: 15px;
    box-sizing: border-box;

}
input[type="email"]{
    margin-right: 0;
}
textarea{
    width: 99%;
    height: 135px;
    margin-top: 10px;
    border: 2px solid #bec3c7;
    padding: 16px;
    box-sizing: border-box;

}
input[type="submit"]{
    width: auto;
    float: right;
    margin-top: 23px;
    margin-right: 0;
    border: none;
    background: #1bbc9b;
    font-size: 0.82em;
    color: #fff;
    padding: 14px 28px;
    font-weight: bold;
}
.info{
    display: inline-block;
    width: 48%;
    text-align: left;
   float: right;
    padding-bottom: 20px;
}
.info h4{
    text-transform: uppercase;

    margin-bottom: 10px;
}
.info p{
    display: list-item;
    list-style-position: inside;
    line-height:35px;
    font-size: 0.875em;

}
p.geo{
    list-style-image: url('../img/geo.png');
}
p.tel{
    list-style-image: url('../img/tel.png');
}
p.fax{
    list-style-image: url('../img/fax.png');
}
p.mail{
    list-style-image: url('../img/mail.png');
}




@media screen and (max-width: 1080px){
    #particles-js{
        display: none;
    }
}

@media screen and (max-width: 760px) {

    .info {

        float: none;
        width: 95%;
        margin: 0 auto;
    }

    form {

        float: none;
        width: 95%;
        margin: 0 auto;

    }

    input {
        width: 49%;
        height: 45px;
        margin-right: 0;
        border: 2px solid #bec3c7;
        padding-left: 15px;
        box-sizing: border-box;
        float: left;

    }

    input[type="email"] {
        margin-right: 0;
        float: right;
    }
    .wit{
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
    }
    textarea {
        width: 100%;
        height: 135px;
        margin-top: 10px;
        border: 2px solid #bec3c7;
        padding: 16px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: auto;
        float: none;
        margin-top: 23px;

        border: none;
        background: #1bbc9b;
        font-size: 0.82em;
        color: #fff;
        padding: 14px 28px;
        font-weight: bold;
    }

}

@media screen and (max-width: 885px){
    .item img{
        width: 100%;
    }
    main ul.item li{
        width: 47%;
        margin: 0 1% 25px 1%;
    }
    header >nav{
        margin-right: 1%;
    }
}
@media screen and (max-width: 450px){
    main ul.item li{
        width: 97%;
        margin: 0 1% 25px 1%;
    }
}
@media screen and (max-width: 600px){
    header>nav{
        display: none;
        position: absolute;
        right: 0px;
        top: 64px;


    }
    header>nav>a{
        display: block;
        border-top: 1px solid #fff;
        background: #1bbc9b;
        padding: 13px 30%;
        font-size: 1em;
        text-align: center;
        color: #fff;
    }
    header>nav>a:hover{
        background: #16a086;;
    }

    #menu{

        display: inline-block;
    }
}
@media screen and (max-width: 350px){
    header{
        height: 70px;
    }
header nav{
    top: 39px;
}
    #logo {
        margin: 10px 0 0 10px
    }
    #menu img{
        width: 70px;
    }
}